
<!-- Footer -->
<footer class="page-footer font-small footer_color">
  <!-- Footer Elements -->
  <div class="align_elements">
    <!-- Grid row-->
    <div class="row">
          <a class="fb-ic footer_icon_color icon_middle" href='http://www.facebook.com' target='_blank'>
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic footer_icon_color icon_middle" href='http://www.twitter.com' target='blank'>
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic footer_icon_color icon_middle" href='http://www.instagram.com' target='blank'>
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
    </div>
  </div>
</footer>
