<div class="containerx">
<h1>Our first view</h1>
<p>
Hallo allemaal!
Zoals jullie allemaal weten ben ik gek op planten.
<br>Nou
heb ik gebruik gemaakt van deze ‘quarantaine dagen’
om daar iets serieuzer mee aan de slag te gaan en is
een kleine business hieruit ontstaan: “Het Stekjes
Atelier”. Ik verkoop allerlei (bĳzondere) plantjes en
stekjes via marktplaats en instagram
(@Het_StekjesAtelier). En hier hoop ik uiteindelĳk een
webshop van de maken!
Dussss mochten jullie op zoek zĳn naar nieuwe
plantjes, een leuk kadotje of nieuwe stekjes/baby
plantjes om zelf op te zien groeien, of iemand kennen
die daar naar opzoek is, stuur mĳ vooral een berichtje
of bekĳk mĳn advertenties!
Zorg goed voor jezelf deze dagen en ik zie jullie snel
weer!
Groetjes,
Emily
Marktplaats: https://www.marktplaats.nl/u/emily-t/
18150603/
Email: info@hetstekjesatelier.nl
Insta: @Het_StekjesAtelier</p>

</div>
