<div class="container">
  <div>
    <h1>This works</h1>
  </div>
  <div>
    <%= link_to 'Voeg een stekje toe', new_path, class:'btn btn-success' %>
    <br>
  </div>
  <div>
    <%= link_to 'Bezoek alle stekjes', allstekjes_path, class:'btn btn-success' %>
  </div>
</div>
